.tabs-wrapper {
  .tab-item {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #6c757d;
    position: relative;

    &.active {
      color: #000;
    }

    &.active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: #000;
    }
  }
}
